In [1]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
from arnet.create_ar_data import load_from_file
from arnet.make_dataset import tabularize_univariate

In [3]:
## Notebook settings
data_path = '../ar_data'
data_name = 'ar_3_ma_0_noise_0.100_len_10000'

In [4]:
## Load data
## if created AR data with create_ar_data, we can use the helper function:
df, data_config = load_from_file(data_path, data_name, load_config=True)
print(data_config)
n_lags = data_config["ar_order"]

{'samples': 10000, 'noise_std': 0.1, 'ar_order': 3, 'ma_order': 0, 'ar_params': [0.2, 0.3, -0.5], 'ma_params': []}

In [5]:
## Load data
## else we can manually load any file that stores a time series, for example:
# df = pd.read_csv(os.path.join(data_path, data_name + '.csv'), header=None, index_col=False)
# n_lags = 3

In [6]:
print(df.shape)
df.head()

(10000, 1)

          0
0  0.114610
1  0.027092
2 -0.015263
3 -0.125719
4 -0.279195

In [7]:
## create a tabularized dataset from time series
df_tab = tabularize_univariate(df, n_lags, n_forecasts=1)

In [8]:
print(df_tab.shape)
df_tab.head()

(9997, 4)

        x_0       x_1       x_2       y_0
0  0.114610  0.027092 -0.015263 -0.125719
1  0.027092 -0.015263 -0.125719 -0.279195
2 -0.015263 -0.125719 -0.279195 -0.133535
3 -0.125719 -0.279195 -0.133535 -0.254239
4 -0.279195 -0.133535 -0.254239  0.122992